<ion-view view-title="Playlists">
  <ion-content class="bar-royal">
    <button on-tap="openmodal()" class="button">show modal</button>
    <label class="item item-input item-floating-label">
      <span class="input-label">SEARCH</span>
      <input ng-model="searchInput.value" type="text" placeholder="Search" />
    </label>
    <button class="button button-positive" on-tap="searchuser()">SEARCH</button>
    <div ng-repeat="item in userList">
      fname:{{item.fname}}<br />
      lname:{{item.lname}}<br />
      age:{{item.age}}<br />
      address{{item.address}}
      <button class="btn btn-success btn-sm" ng-click="editUser(user)">
        Edit
      </button>
      <button ng-click="delete($index)">Delete</button>
    </div>
  </ion-content>
  <div class="bar bar-footer bar-balanced">
    <ion-footer-bar align-center="left" class="bar-royal">
      <button class="button" on-tap="previousPage(makeTodos)">PREVIOUS</button>
      <button class="button" on-tap="nextPage(makeTodos)">NEXT</button>
    </ion-footer-bar>
  </div>
</ion-view>
